#catalog-header {
  background-color: #d7d7d7;
  margin: 20 0;
  min-height: 131px;
  padding: 10 20;
}

#catalog-header-title {
  color: black;
  padding: 5 0 10 0;
}

#flash {
  min-height: 20px;
}

#result,
#sign_in_prompt {
  font-weight: bold;
}
