{% extends 'main.html' %} {% block content %}
<div class='row'>
  <div class='col-md-12' role='main'>
    <h3>Edit Item</h3>
    <form class='form-horizontal' action='{{url_for("edit_item",category_name=item.category.name,item_name=item.name)}}' method='post'>
      <div class='form-group'>
        <label class='control-label col-sm-2' for='name'>Title:</label>
        <div class='col-sm-10'>
          <input class='form-control' type='text' name='name' value='{{item.name}}'>
        </div>
      </div>
      <div class='form-group'>
        <label class='control-label col-sm-2' for='description'>Description:</label>
        <div class='col-sm-10'>
          <input class='form-control' type='text' name='description' value='{{item.description}}'>
        </div>
      </div>
      <div class='form-group'>
        <label class='control-label col-sm-2' for='category'>Category:</label>
        <div class='col-sm-10'>
          <select class='form-control' name='category'>
          {% for category in categories %}
            {% if item.category.name == category.name %}
              <option selected>{{category.name}}</option>
              {% else %}
              <option>{{category.name}}</option>
            {% endif %}
          {% endfor %}
        </select>
        </div>
      </div>
      <div class='form-group'>
        <div class="col-sm-offset-2 col-sm-10">
          <div class='btn-group' role='group'>
            <input class='btn btn-default' type='submit' value='Submit'>
            <a class='btn btn-default' href='{{url_for("show_item",category_name=item.category.name,item_name=item.name)}}'>Cancel</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
