<html>
  <head>
    {% include "main_head.html" %} {% block head %} {% endblock %}
    <!-- Google Sign-In scripts and metadata -->
    <meta name="google-signin-scope" content="email">
    <meta name="google-signin-client_id" content="775572830261-290jikk0ft3eg59e8hqlu7gmmch2d1ja.apps.googleusercontent.com">
    <script src="//apis.google.com/js/platform.js?onload=renderButton" async defer></script>
    <!-- END Google Sign-In scripts and metadata -->
  </head>

  <body>
    <!-- Google Sign-In button -->
    <p><b>Sign in using your Google account</b></p>
    <div id="signinButton">
      <span class="g-signin2" data-accesstype="offline" data-onsuccess="signInCallback"></span>
    </div>
    <!-- div for showing sign-in results -->
    <div id="result"></div>
    <div>
      <p><b>Categories</b></p> {% for category in categories %}
      <p><a href='{{url_for("show_category",category_name=category.name)}}'>{{category.name}}</a></p> {% endfor %}
    </div>
    <div>
      {% if 'username' in session %}
      <p><a href='{{url_for("create_item")}}'>Add Item</a></p>
      {% endif %}
      <b>Latest Items</b> {% for item in latest %}
      <p><a href='{{url_for("show_item",category_name=item.category.name,item_name=item.name)}}'>{{item.name}} ({{item.category.name}})</a></p>
      {% endfor %}
    </div>
    <!-- Google Sign-In callback script -->
    <script>
      function signInCallback(authResult) {
        // if login successful
        if (authResult['code']) {
          // hide the sign-in button
          $('#signinButton').attr('style', 'display: none');
          // Send the one-time-use code to the server, if the server responds,
          // write a 'login successful' message to the web page and then
          // redirect back to the main page
          $.ajax({
            type: 'POST',
            url: '/gconnect?state={{STATE}}',
            processData: false,
            data: authResult['code'],
            contentType: 'application/octet-stream; charset=utf-8',
            success: function(result) {
              // Handle or verify the server response if necessary.
              if (result) {
                $('#result').html(result + '  Redirecting...');
                window.location.href = "/catalog";
              } else if (authResult.error) {
                $('#result').html('There was an error:\n' + authResult.error);
              } else {
                $('#result').html(
                  'Failed to make a server-side call.  ' +
                  'Check your configuration and console.');
              }
            }
          });
        }
      }
    </script>
    <!-- END Google Sign-In callback script -->
  </body>
</html>
